img{
    width: 280px;
    height: 190px;
    border-radius: 6px;
}
img:hover{
    transform: scale(1.05);
    transition: .3s;
}
a{
    text-decoration: none;
}
h3{
    margin-left: 11%;
    font-family: 'Times New Roman', Times, serif;
}