<nav id="navbar" class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <h5 class="mt-2" >News For You <i class="fa-regular fa-newspaper"></i> </h5> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active ms-3" aria-current="page" routerLink="">Latest News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" aria-current="page" routerLink="tech">Tech News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" aria-current="page" routerLink="sports">Sports News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
<h1 id="title" class="text-center mt-5">News For You</h1>
<br>
<router-outlet></router-outlet>
<footer>
  <h6 class="mt-5 text-center bg-light p-5">@2023 News For You</h6>
</footer>